.ContenedorAdmin {
	padding: 120px 0 0 0;
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	background: #101010;
 }
.itemAdmin {
	position: relative;
	border-left: 1px solid #000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.headerAdmin {
	display: flex;
	justify-content: space-around;
	align-items: center;  
	padding: 1rem 0;
	width: 100%;
	border-bottom: 2px solid #000;
	
}
.titulosAdmin {
	color: #ffaa00;
	font-size: var(--main-font-size-parrafos);
}
.listaContacto {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	list-style: none;
}
.lifirebase, .lifirebaseVisitas {
	position: relative;
	padding: .5rem;
	background: #101010;
	width: 95%;
	border-radius: .6rem;
	border:2px solid #151515;
	border-style: outset;
	width: 90%;
	padding: .3rem;
	margin: .3rem 0;
}	
/* .afterList { */
	/* background: linear-gradient( to bottom right, #080808, #101010); */
	/* padding: .3rem; */
	/* width: 90%; */
	/* margin: .3rem 0; */
	/* border-radius: .9rem; */
/* } */
.lifirebase p, .lifirebaseVisitas p{
	color: var(--main-color-adminHeader);
	font-size: 1rem;
	line-height: 1.2rem;
	padding: .2rem 0;
}
.lifirebase p:nth-child(1), .lifirebaseVisitas p:nth-child(1){
	color: #;
}
.lifirebase p:nth-child(4){
	color: #00ccff;
}
.lifirebase p:last-child {
	background: #101010;
	border-radius: .3rem;
	padding: 0 .5rem;
	text-align: center;
	background: #121212;
}
.lifirebase .nombreDetalles, .lifirebaseVisitas .nombreDetalles{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lifirebase p, .lifirebaseVisitas p{
	display: none;
}
.totales {
	color: #00ff00;
	background: none;
	border: none;
	outline: none;
	font-weight: bold;
	width: 1rem;
}
.refrescar {
	color: #606060; 
	padding: 1rem; 
}.refrescar:hover{color: #00ff00}
@media(max-width:950px){
	.ContenedorAdmin {
	    padding: 120px 0 0 0;
	    display: grid;
	    grid-template-columns: 1fr;
}