.ContenedorAdmin {
	padding: 100px 0 0 0;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 300px;
	width: 100%;
	background: var(--main-background-adminHeader);
 }
.itemAdmin {
	border-left: 1px solid #000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	max-height: 700px;
	overflow: auto;
}
.headerAdmin {
	display: flex;
	justify-content: space-between;
	align-items: center;  
	padding: 1rem;
	width: 90%;
	border-bottom: 2px solid #000;
	position: relative;
	
}
.titulosAdmin {
	color: #ffaa00;
	font-size: var(--main-font-size-parrafos);
}
.listaContacto {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	list-style: none;
}
.lifirebase, .lifirebaseVisitas {
	position: relative;
	padding: .5rem;
	background: #080808;
	border-radius: .6rem;
	width: 90%;
	padding: .3rem;
	margin: .3rem 0;
	display: block;
}	
/* .afterList { */
	/* background: linear-gradient( to bottom right, #080808, #101010); */
	/* padding: .3rem; */
	/* width: 90%; */
	/* margin: .3rem 0; */
	/* border-radius: .9rem; */
/* } */
.lifirebase input {
	background: none;
	outline: none;
	border: none;
	color: var(--main-color-adminHeader);
	font-size: 1rem;
	padding: .3rem .8rem;
	cursor: pointer;
	width: 100%;
	z-index: 5;
	text-align: center;
}
.lifirebase p, .lifirebaseVisitas p{
	color: var(--main-color-adminHeader);
	font-size: 1rem;
	line-height: 1.2rem;
	padding: .2rem;
}

.lifirebase p:nth-child(5){
	color: #00ccff;
}
.lifirebase p:last-child {
	background: #101010;
	border-radius: .3rem;
	padding: 0 .5rem;
	text-align: center;
	background: #121212;
}
.lifirebase p, .lifirebaseVisitas p{
	display: none;
}
.lifirebase .nombreDetalles, .lifirebaseVisitas .nombreDetalles2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.totales {
	color: #00ff00;
	background: none;
	border: none;
	outline: none;  
	font-weight: bold;
	width: 1rem;
	text-align: center;
}
.refrescar{
	display: flex;
	justify-content: center;
	align-items: center;
position: relative;	   
}
.refrescar i  {
	font-size: 1.2rem;
	color: #606060; 
	padding: .3rem .5rem; 
	transition: .5s;
	border-left: 1px solid #000;
}.refrescar i:hover{color: #00ff00}
.refrescar i:nth-child(4):hover{
	color: #ff0000;
}
#AlertaEliminar {
	display: none;
	position: absolute;
	top: 6rem;
	left: 3rem;
	right: 3rem;
	background: #000;
	border-radius: 1rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 100;
	border: 1px solid #303030;
}   
#AlertaEliminar p{
	color: #fff; 
	font-size: 1.5rem;
	text-align: center;
}
#AlertaEliminar p span {
	color: #ff0000;
	font-weight: bold;
	padding: .6rem;
	
}
#AlertaEliminar button{
	padding: .6rem;
	}
#AlertaEliminar input {
	background: none;
	border: none;
	outline: none;
	color: #ff0000;
}
#AlertaEliminar p:nth-child(2){
	color: #ff0000; 
    padding: .6rem;
	font-size: 1rem;
}
.lifirebase button{
	position: absolute;
	top: .5rem;
	right: .5rem;
	color: #ff0000;
	border: none;
	background: none;
	outline: none;
	z-index: 1;
	display: none;
	font-size: 1.5rem;
}
@media(max-width:950px){
	.ContenedorAdmin {
	    padding: 120px 0 0 0;
	    display: grid;
	    grid-template-columns: 1fr;
    }
}
#buttonAdmin {
	display: none;
}